/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; font: 14px/1.3 Roboto; }
body {}
#page-wrap { width: 500px; margin: 0 auto; }
#nombreempresa {font: 30px Montserrat;}

hr {position: relative; top: 0px; border: none; height: 1px; background: black; margin-bottom: 20px;}

#empresa {align: center; text-align: center;}
#empresa table {border: none; align: center;margin-left: auto; margin-right: auto;}
#empresa table td {border: none; align: center; }
#empresa img{width:120px;}

#meta {border: none; width:100%;  }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; font-weight: bold; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

textarea { border: 0; overflow: hidden; resize: none; }
table { border-collapse: collapse; border: none;}
table td, table th { border: none; padding: 2px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

#items { border: 0; clear: both; width: 100%; margin: 30px 0 0 0; }
#items textarea { width: 80px; height: 40px; }
#items tr.item-row td { vertical-align: top; }
#items th { font-weight: bold; }

.description {text-align: left;}
.tdqty {text-align: center; }
.tdcost {text-align: center; }
.tdprice {text-align: right;}
.qty {text-align: center; }
.cost {text-align: center; }
.price {text-align: right;}

#items td.description { width: 250px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }

.total { vertical-align: top; border: 0; clear: both; width: 100%; margin: 0 0 0 0; font: 30px/1 Roboto; font-weight: bold;}
.totali {font: 30px/1 Roboto; vertical-align: top; text-align: left;}
.totald {font: 30px/1 Roboto; vertical-align: top; text-align: right;}
#total {font: 30px/1 Roboto; vertical-align: top; text-align: right;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #FFF; text-decoration: none; position: absolute; background: #FFF; font-weight: bold; padding: 0px 3px; border: 0px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
#addrow { color: #FFF; }

#hiderow{ display: none;}